<div class="container">
	<h1><%= @to_do.title %></h1> 
	
	<%= link_to "Back to ToDo Lists" , board_path(@board) , class: "btn btn-sm btn-danger"%>
	<%= link_to "Edit", edit_board_to_do_path(@board,@to_do.id), class:"btn btn-sm btn-default" %> <br><br>
	<hr/>
	<% @to_do.cards.each do |card| %>
		<div class="well">
			<%= card.title %>
			<div class="pull-right">
				<%= link_to "Add Details", board_to_do_card_path(@board,@to_do,card.id) %>
			</div>		
		</div>
	<% end %>
	<hr/>
	<%= render 'cards/cards_form' %>
</div>
