<div class="container">
	<h1><%= @board.title %></h1>

	<%= link_to "Edit Board", edit_board_path(@board), class: "btn btn-sm btn-warning" %>
	<%= link_to "Delete Board", board_path(@board), method: :delete, data: {confirm: "Are you sure"}, class:"btn btn-sm btn-danger" %>
	<%= link_to "Back to Boards", boards_path, class: "btn btn-sm btn-default" %>

	<div class="row">
		<div class="col-md-12">
			<%= render @board.to_dos %>
			<div class="col-sm-3 well box">
				<%= render 'to_dos/form' %>
			</div>
		</div>
	</div>
</div>

