<div class="container">
	<h1><%= @board.title %></h1>

	<%= link_to "Edit Board", edit_board_path(@board), class: "btn btn-sm btn-warning" %>
	<%= link_to "Back to Boards", boards_path, class: "btn btn-sm btn-default" %>

	<h3>To Do's</h3> 
	
	<div class="row">
		<div class="col-md-12">
			<%= render @board.to_dos %>
			<div class="col-sm-2 well">
				<%= render 'to_dos/form' %>
			</div>
		</div>
	</div>

	
	
</div>

