
<div class="container">
	<h1>Edit: <%= @card.title %></h1>

	 <%= simple_form_for ([@board, @to_do, @card]) do |f| %>
		<%= f.input :title %>
		<%= f.input :description %>
		<%= f.date_field :duedate %>
		<br>
		<br>
		<%= f.button :submit, class: "btn btn-sm btn-default" %>
	<% end %>
</div>
