<div class="container login">
	<div class="col-md-8 col-md-offset-2">

		<h1 class="board_title"><%= @card.title %> <span> details</span></h1>

		<div class="well card_details">
			<% if !@card.description.blank? %>
				<p>Description:</p>
			<% else %>
				<p class="text-muted">Add some details...</p>
			<% end %>
			<p class="card_desc"><%= @card.description %>
			<% if !@card.description.blank? %>
				<span class="pull-right"><i>duedate: </i><%= @card.duedate %></span>
			<% end %>
			</p>
		</div>

		<%= link_to "Add details", edit_board_to_do_card_path, class: "btn btn-sm btn-default" %>
		<%= link_to "Back to ToDo Lists", board_path(@board), class: "btn btn-sm btn-default" %>
		<% if !@card.comments.blank? %>
			<h5>Comments:</h5>
		<% end %>

		<% @card.comments.each do |comment| %>
			<div class=" comment_box">
				<p><%= comment.comment %></p>	
			</div>
		<% end %>

		<%= render 'comments/form' %>
	</div>
</div>

